.dnd-library-wrapper .editor-item .meta.type-facebook_badge {
  background-image: url('icons/facebook.png');
}
.scald-menu .add-buttons .add-facebook_badge {
  background: url('icons/facebook-large-inverted.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-facebook_badge:hover {
  background-image: url('icons/facebook-large-color.png');
}
